{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 2000px;
    position: relative;
    margin: auto;

  }
  .mySlides {
  display: none;
}


  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0%;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }

  .impact{
    border-style: solid;
    border-width: 2px;
    margin-right: 50px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .table{
    display: grid;

  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .house-title{

    font-weight: 600;
    font-size: 30px;
  }
  .card-title{
  padding: 8px;
  border-style: outset;
  }
  .card-text{
  font-size: 20px;
  }
  .single-amenity{
    font-color: #333;
  }
  .single-prop-details{
      font-size: 20px;
  }
  .prop-details{
    list-style-type: none;
    text-align:left;
  }

  .hide-file{
    display: none;
  }
  </style>


  <!-- Slideshow container -->
  <div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    {% for img in image_src %}
      <div class="mySlides fade">
        <img src={{img.image.url}} height = "500px" width = "100%">
      </div>
    {% endfor %}

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <div class="border-bottom mb-4"></div>
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-4">
        <h1 class="house-title">{{house.beds}} BHK for rent {{house.house_number}} near {{house.landmark}}</h1>
        <legend class="state-city">
          {{house.city}}, {{house.state}}
        </legend>
        <br>
        <p><legend class="border-bottom mb-4">Description</legend> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
      </div>
      <div class="card col-md-4 mb-4" >
        <div class="card-body">
          <h5 class="card-title"><span>Rs. {{house.rent}} <small>per month</small></span></h5>
          <p class="card-text">Apartment Type : <strong>{{house.property_type}}</strong></p>
          <p class="card-text">No of Beds : <strong>{{house.beds}}</strong></p>
          <p class="card-text">Furnished : <strong>Yes</strong></p>
          {% if user.id == house.user_id %}
          <a href="update_house/" class="btn btn-primary ">Update House!</a>
          <a href="delete_house/" class="btn btn-danger" role="button" >Delete House!</a>
          {% else %}
          <a href="rent_house/" class="btn btn-primary ">Rent House!</a>
          <a href="#" class="btn btn-primary ">Contact Landowner</a>
          {% endif %}
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8">
        <legend class="border-bottom mb-4">Property Details</legend>
        <ul class="prop-details">
          <li><legend class="single-prop-details">Apartment Type: {{house.property_type}}</li></legend>
          <br>
          <li><legend class="single-prop-details">No of Beds: {{house.beds}}</li></legend>
          <br>
          <li><legend class="single-prop-details">No of Balconies: {{house.balcony}}</li></legend>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-8 mb-4">
        <legend class="border-bottom mb-4">Amenities</legend>
        <div class="row">
        {% for i in amenities %}
          <p class="single-amenity col-md-4 mb-4">{{i}}</p>
        {% endfor %}
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8 mb-4">
        <legend class="border-bottom mb-4">Rent and Deposit Terms</legend>
        <p>Rent has to be paid on or before the agreed due date</p>
        <p>Security deposit has to be paid before you move in to the property or by the time of agreement</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8 mb-4">
        <legend class="border-bottom mb-4">Documents Required</legend>
        <p><strong>Identity Proof</strong> - Aadhar Card / Passport / Voter ID</p>
        <p><strong>Address proof</strong> - Latest power bill</p>
        <p><strong>Employment ID</strong> - ID Card give by the employer</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8 mb-4">
        <legend class="border-bottom mb-4">Theft & Damage policy</legend>
        <p>The tenant shall be responsible for his/her belongings in the scheduled premise.</p>
        <p>The owner or its representatives shall not be liable for any theft of personal belongings of the tenants.</p>
        <p>In case of theft/loss and damage of any furnishing or appliance or furniture, all the tenants shall be held responsible & owner or its representative shall have the right to deduct money from security deposit of tenants towards compensation of the loss.</p>
      </div>
    </div>
  </div>

  <script>
    var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
  </script>

{% endblock content %}
