{% extends 'pages/base.html' %}
{% block content %}

<style>


  .content1{
    display: grid;


    grid-template-columns: repeat(3, 1fr);
    max-width: 1800px;
    margin: 0 auto;
  }
  .content1 div{
    background-color: white;

  }
  .card-title, .card-text{
    color: #606060;
  }

  .my-houses{
    background-color: black;
    color: white;
    text-align: center;
  }

</style>
  <div class="container">
    <div class="content-section">
    <legend class="border-bottom mb-4">My Houses :</legend>
{% if house|length < 1 %}
    <legend >No Houses Found</legend>
  {% else %}
  <div class="content1">
  {% for each_house,each_image in house %}
      <div class="col-md-4 mb-4">
			<div class="card" style="width: 20rem;">
			  <img class="card-img-top" src={{each_image.image.url}} alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"><strong>Rent: Rs {{each_house.rent}}</strong></h5>
				<p class="card-text">{{each_house.house_number}}, {{each_house.landmark}}, {{each_house.city}}</p>
                  <p class="card-text">{{each_house.beds}} BHK</p>
				<a href="{{each_house.id}}/" class="btn btn-primary">More Info</a>
			  </div>
		    </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}
  </div>
  </div>
{% endblock content %}