{% extends 'pages/base.html' %}
{% block content %}

<style>


  .content1{
    display: grid;
    font-family: 'Nunito Semibold';
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1800px;
    margin: 0 auto;
  }
  .content1 div{
    background-color: white;
    padding: 30px;
  }
  .card-title, .card-text{
    color: black;
  }

  .my-houses{
    background-color: black;
    color: white;
    text-align: center;
  }
</style>
  <div class="container">
  <div class="content1">
  {% for obj in house %}
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{obj.city}}</h5>
              <p class="card-text">{{obj.user}}</p>
              <p class="card-text">{{obj.house_number}}</p>
              <a href="{{obj.house_number}}" class="btn btn-primary">Information</a>
            </div>
          </div>
        </div>
  {% endfor %}
  </div>
  </div>
{% endblock content %}
