asgiref==3.2.10
Django==3.1.1
django-crispy-forms==1.9.2
django-multiselectfield==0.1.12
djangorestframework-yaml==2.0.0
gunicorn==20.0.4
Pillow==7.2.0
pygame==1.9.6
pytz==2020.1
PyYAML==5.3.1
sqlparse==0.3.1