{% extends "pages/base.html" %}
{% load crispy_forms_tags %}
{% block content %}




<div class="container">
    <div class="content-section">
        <legend class="border-bottom mb-4">Houses</legend>
        <div class="row">
            <div class="col md-1"></div>
            <a href="{% url 'add-house-view' %}" class="btn btn-secondary col-md-2 mb-4 " role="button" >Add House</a>
            <div class="col md-2"></div>
            <a href="{% url 'house-view' %}" class="btn btn-secondary col-md-2 mb-4 " role="button" >View My Houses</a>
            <div class="col md-2"></div>
            <a href="#" class="btn btn-secondary col-md-2 mb-4 " role="button" >Rented Houses</a>
            <div class="col md-1"></div>
        </div>
    </div>
</div>

<div class="container">

<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" height="200px" width="200px" src="{{user.profile.image.url}}">
    <div class="media-body">
      <h2 class="account-heading col-sm-8">{{user.username}}</h2>
      <p class="text-secondary col-sm-8">{{user.email}}</p>
    </div>
  </div>
  <!-- FORM HERE -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-2">
                            {{u_form.username|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-6 mb-2">
                            {{u_form.email|as_crispy_field}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-4">
                            {{p_form.firstName|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-4 mb-4">
                            {{p_form.lastName|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-4 mb-4">
                            {{p_form.contact|as_crispy_field}}
                        </div>
                    </div>
                    <legend class="border-bottom md-4 mb-4">Profile Photo</legend>
                    <div class="form-row">
                        {{p_form.image|as_crispy_field}}
                    </div>

                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
            <a href="{% url 'delete-view' %}" class="btn btn-danger" role="button" >Delete Account</a>
  </div>
</div>

{% endblock content %}
